*{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("");
    
}
body{
    background-image: url(/bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
body img{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: visible;
    background-size: cover;
}
.container{
    background: transparent;
    opacity: 2;
    margin-top: 20px;
    margin-right: 60%;
    margin-left: 10px;
    position: relative;
}
.forms h1{
    font-size: 70px;
    text-align: center;
    margin-top: 50px;
    margin-left: 20px;
}
h1{
    padding-top: 40px;
}
.entry{
    margin-left: 70px;
    margin-bottom: 20px;
    margin-right: 65px;
}
input[type="text"]{
    border-style: none;
    background: transparent;
}
.button{
    font-size: 15px;
    color: white;
    width: 100%;
    background-color: blue;
    height: 30px;
    border-radius: 5px;
    border-style: hidden;
    cursor: pointer;
    margin: 20px;
}
.logos{
    margin-left:12%;
    margin-top: -3%;
}
.second-img{
    margin-top: -2%;
    margin-left:6%;
    height: 70px;
    width: 70px;
}
.line1{
    float: right;
    margin-top: -40%;
    margin-right: 10%;
    background-color:aquamarine;
    width: 40%;
    padding-bottom: 10px;
}
.img1{
    height: 20px;
    width: 20px;
}
.line1 span{
    float: right;
    padding-right: 10px;
    padding-top: 8px;
}
.line2{
    float: right;
    margin-top: -36%;
    margin-right: 10%;
    background-color:rgb(255, 217, 119);
    width: 40%;
    padding-bottom: 10px;
}
.img2{
    height: 20px;
    width: 20px;
}
.line2 span{
    float: right;
    padding-right: 10px;
    padding-top: 8px;
}
.line3{
    float: right;
    margin-top: -32%;
    margin-right: 10%;
    background-color:rgb(127, 219, 255);
    width: 40%;
    padding-bottom: 10px;
}
.img3{
    height: 20px;
    width: 20px;
}
.line3 span{
    float: right;
    padding-right: 10px;
    padding-top: 8px;
}
.line4{
    float: right;
    margin-top: -28%;
    margin-right: 10%;
    background-color:rgb(255, 176, 127);
    width: 40%;
    padding-bottom: 10px;
}
.img4{
    height: 20px;
    width: 20px;
}
.line4 span{
    float: right;
    padding-right: 10px;
    padding-top: 8px;
    cursor: pointer;
}